body {
  background: #f3f0e7;
  font-family: Roboto, sans-serif;
  color: #4b5563;
}

.container {
  margin-top: 2rem;
}

h1 {
  font-weight: 500;
  color: #000;
}

table {
  width: 100%;
  margin-top: 1.5rem;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f3f4f6;
  font-weight: bold;
  color: #1f2937;
}

table tbody tr:hover {
  background-color: #f9fafb;
}

.top-left-button, .top-right-button {
  position: absolute;
  top: 1rem;
  background-color: #3b4ce2;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

/* Specific positioning for each button */
.top-left-button {
  left: 1rem;
}

.top-right-button {
  right: 1rem;
}

/* Hover effect */
.top-left-button:hover, .top-right-button:hover {
  background-color: #2538df;
}

#displayMeasurements {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

#measurementsTable {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

#measurementsTable th, #measurementsTable td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#measurementsTable th {
  background-color: #f3f4f6;
  font-weight: bold;
}

#measurementsTable tr:hover {
  background-color: #f9fafb;
}
