body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}



.form-step.active {
  display: block;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

input, select {
  width: calc(100%);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 48%;
}

.top-left-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;  /* Optional, to add some spacing from the edge */
  padding: 10px 20px;  /* Button padding */
  font-size: 16px;
  width: auto;
  background-color: #4CAF50;  /* Button background color */
  color: white;  /* Text color */
  border: none;  /* Remove border */
  border-radius: 5px;  /* Rounded corners */
  cursor: pointer;  /* Pointer cursor on hover */
}


.top-right-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;  /* Optional, to add some spacing from the edge */
  padding: 10px 20px;  /* Button padding */
  font-size: 16px;
  width: auto;
  background-color: #4CAF50;  /* Button background color */
  color: white;  /* Text color */
  border: none;  /* Remove border */
  border-radius: 5px;  /* Rounded corners */
  cursor: pointer;  /* Pointer cursor on hover */
}



.top-left-button:hover {
  background-color: #45a049;  /* Darker shade on hover */
}






